h1 {
  color: #0d62a8;
  font-size: 24px;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #0d62a8;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: uppercase;
}
